DICIONÁRIO

1.

In [1]:
d={'laranjas': 15, 'bananas': 35, 'siriguelas': 12}

In [2]:
d["bananas"]

35

1.B

In [4]:
d["pitomba"]=20

In [5]:
len(d)

4

1.C

In [6]:
"pitomba" in d

True

in d = está perguntando se "pitomba" está na posição (d)

1. D

In [7]:
"pears" in d

False

'pears' deu falso pq não existe no dicionário

In [8]:
print(d)

{'laranjas': 15, 'bananas': 35, 'siriguelas': 12, 'pitomba': 20}

Ele printa os valores existentes no 'd'

1.F

In [9]:
del d["laranjas"]

del d= significa deletar um valor de dentro do dicionário 'd'

In [10]:
"laranjas" in d

False

Falso porque ele acabou de deletar "laranjas" do 'd'

CONCATENAÇÃO E REPETIÇÃO

In [11]:
frutas= ["pinha","oiti coró","jaca","tamarindo"]

In [12]:
print([1,2]+[3,4])

[1, 2, 3, 4]

ele printa os valores dentro dos colchetes normalmente

In [15]:
print(frutas+[6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

ele printa as frutas da lista e os números dentro dos colchetes

In [13]:
print([0]*4)

[0, 0, 0, 0]

ele printa o "0" multicado por 4

In [14]:
print([1,2,["oi","tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]

printa a lista multiplicada 2 vezes

MÉTODOS

In [16]:
minha_lista=[]

In [17]:
minha_lista.append(5)

In [18]:
minha_lista.append(27)

In [19]:
minha_lista.append(3)

In [20]:
minha_lista.append(12)

In [21]:
print(minha_lista)

[5, 27, 3, 12]

o append vai adicionando os valores na ordem do início pro final

In [22]:
minha_lista.insert(1,12)

In [23]:
print(minha_lista)

[5, 12, 27, 3, 12]

In [24]:
print(minha_lista.count(12))

2

o count vai contrar quantos desse valor pedido contém na lista

In [25]:
print(minha_lista.index(3))

3

o index resolve para encontrar algo na lista

In [26]:
print(minha_lista.count(5))

1

In [27]:
minha_lista.reverse()

In [28]:
print(minha_lista)

[12, 3, 27, 12, 5]

In [29]:
minha_lista.sort()

In [30]:
print(minha_lista)

[3, 5, 12, 12, 27]

In [31]:
minha_lista.remove(5)

In [32]:
print(minha_lista)

[3, 12, 12, 27]